body {
    margin: 0
}


* {
    color: #111;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
    -webkit-user-select: none;
    /* For older WebKit-based browsers like Safari */
    -moz-user-select: none;
    /* For older Firefox versions */
    -ms-user-select: none;
}


.App {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.kanbanBoard {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    min-height: 100vh;
}

.kanbanColumn {
    flex: 1;
    background-color: #f4f5f7;
    padding: 15px;
    border-radius: 8px;
    min-height: 400px;
}

.kanbanColumn h2 {
    text-align: "center";
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
}

.kanbanCard {
    background-color: #fff;
    padding: 10px;
    margin-top: 10px;
    border-radius: 6px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);

}

.tags {
    margin-top: 5px;
}

.tag {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 0.8em;
    margin-right: 4px;
}

.searchBox {
    padding: 0.5rem;
    flex: 1;
    border: 1px solid #ccc;
}

.priorityFilter {
    padding: 0.5rem;
    border: 1px solid #ccc;
}

.mainPage {
    padding: 5px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    border-top: 2px solid green;
    background: #fff;
    border-radius: 5px;
    width: 50%;
    height: 80%;
    justify-content: center;
    align-items: center;
}

.boardPageContainer {
    padding-top: 1rem;
}

.searchandFilter {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.undoBanner {
    margin-bottom: '1rem';
    background: '#fff3cd';
    padding: '10px';
    border: '1px solid #ffeeba';
}

.undoButton {
    margin-left: '1rem'
}